<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <title>{$shop_name}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <!--[if lt IE 9]>
      <script src="bootstrap/js/html5shiv.min.js"></script>
      <script src="bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/jquery-migrate.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="shop_head">
        <a href="index.php">
          <img src="https://64.media.tumblr.com/09cad3d282812653cac92e20fda93f4f/tumblr_oi4t8eQy3l1umk6azo1_1280.jpg" alt="{$shop_name}" class="img-responsive">
        </a>
      </div>

      <div id="shop_main" class="row">
        <div class="col-md-9 col-sm-8">
          {if isset($msg)}
            <div class="alert alert-danger">{$msg}</div>
          {/if}
          {if $op=="goods_form"}
            {include file="goods_form.html"}
          {elseif $op=="goods_display"}
            {include file='goods_display.html'}
          {elseif $op=="user_form"}
            {include file='user_form.html'}
          {elseif $op=="display_user"}
            {include file='display_user.html'}
          {elseif $op=="check_out"}
            {include file='bill_check_out.html'}
          {elseif $op=="display_bill"}
            {include file='display_bill.html'}
          {elseif $op=="list_bill"}
            {include file='list_bill.html'}
          {else}
            {include file='goods_list.html'}
          {/if}
        </div>
        <div class="col-md-3 col-sm-4">
          {include file='index_side.html'}
        </div>
      </div>

      <div id="shop_foot" >
        <div>地址：台北市信義區光復南路133號</div>
        <div>電話：(02)2385612</div>
        <div>版權所有 copyright © 2015 mochi_dad All Rights Reserved. </div>
      </div>
    </div>
  </body>
</html>