<div class="alert alert-success">
  {$login_user.user_name}您好！歡迎光臨{$shop_name}
</div>
<a href="index.php" class="btn btn-block btn-primary">回首頁</a>
<a href="user.php?op=user_display&user_sn={$login_user.user_sn}" class="btn btn-block btn-info">我的帳號</a>
{if $isUser}
    <a href="bill.php" class="btn btn-block btn-warning">我的訂單</a>
{/if}
{if $isAdmin}
    <a href="tool.php?op=goods_form" class="btn btn-block btn-success">發布商品</a>
{/if}
<a href="user.php?op=user_logout" class="btn btn-block btn-danger">登出</a>